/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
  background-color: #333;
}

body {
  background-color: #333;
}

.wrap-all {
  max-width: 1100px;
  margin: 0 auto;
  background-color: beige;
}

.site-logo {
  display: none;
}

/* min header */

.site-logo-text a {
    font-family: fantasy;
    text-decoration: none;
    color: black;
    font-size: 4em;
}

.site-logo img {
    width: 8em;
    height: auto;
}

.region-header-col-1 {
    text-align: center;
    margin: 5em 0;
}

.region-header-col-2 {
    text-align: center;
    margin: 1em 0;
}

.region-header-col-3 {
    float: right;
    width: 5%;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-style: normal;
    font-family: monospace;
    font-size: 15px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Byline */
div.author-byline {
    border: 5px dotted #009;
    padding: 2ex;
    clear: both;
    width: 700px;
}

div.author-byline img {
    float: left;
    margin-right: 1ex;
    width: 80px;
    height: 80px;
}

/* min footer */
.outer-wrap-footer {
    background-color: rgb(111, 115, 92);
    overflow: auto;
    clear: both;
}

.inner-wrap-footer {
    width: 80%;
    margin: 0 auto;
   padding: 5em;
}

.footer-column {
    display: inline-block;
    width: 25%;
    text-align: left;
    padding: 2em;
    border-right: 1px solid beige;
    color: beige;
}

.footer-column:last-child {
    border-right: none;
}

.footer-column h4 {
    text-transform: uppercase;
    font-family: sans-serif;
}

.region-footer {
    text-align: center;
    height: 262px;
}

.site-footer {
    color: black;
    padding: 2em;
    margin-top: 1em;
}
